html,
body {
  padding: 0;
  margin: 0;
}
body {
  color: rgb(35, 35, 35);
  font-family: sans-serif;
  background-color: rgb(241, 245, 247);
  text-align: center;
}

header {
  display: flex;
  height: 50px;
  width: 100%;
  top: 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: rgb(176, 203, 224);
}

.headline {
  color: rgb(75, 73, 73);
}

.bot {
  padding-bottom: 15px;
}
.noticeMessage {
  margin-top: 0px;
}
.weatherMessage {
  margin-top: 0px;
}
.weatherMessage.bot {
  margin-top: 10px;
}
.wrapper {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
}
.mailStr {
  line-height: 25px;
}
input {
  margin-bottom: 10px;
}
.inputButton {
  margin-bottom: 20px;
}
.wrapperBot
{
    margin-bottom: 20px;
}
@media screen and (max-width: 500px) {
  .wrapper {
    width: 330px;
  }
  p
  {
      font-size: 12px;
  }
}
